# output images
*.jpg
*.mkv
*.avi
capture*/
selected*/
process*/
*.tar.gz
*.zip
*.zip.*
*.7z


# databases
*.hdf5
*.pkl
*.csv

# python
__pycache__/
.venv/

# test files
test*

# files created by other applicaitons
.~lock*